:root {
  --best-color: #d4af37;
  --gradient: linear-gradient(190deg, #d4af37, #e4cc7f, #887023);
  --text-background: linear-gradient(to left, darkblue, darkorchid);
}
.text-gradient-gold {
  --text-background: linear-gradient(to left, #887023, #f8f1dd);
}
.text-gradient {
  color: inherit;

  @supports (--css: variables) {
    background: var(--text-background);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
body {
  background: rgb(26, 24, 24);
  color: var(--text-gradient);
  text-align: center;
}
.logo {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.1rem gold);
}

img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 0.75rem #f8f1dd);
}
h1 {
  margin-top: 6%;
  margin-bottom: 0;
  font-size: 100px;
}
.croissant-icon {
  border-style: inset;
  border-bottom: #d4af37;
  border-right: #f8f1dd;
  border-radius: 50%;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 0.75rem #1b1504);
}
