:root {
  --best-color: #d4af37;
  --gradient: linear-gradient(to right, #d4af37 55%, #e4cc7f, #887023);
  --text-background: linear-gradient(to right, darkblue, darkorchid);
}
.text-gradient-gold {
  --text-background: linear-gradient(to right, #887023, #d4af37);
}
.text-gradient {
  color: inherit;

  @supports (--css: variables) {
    background: var(--text-background);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
body {
  background: rgb(26, 24, 24);
}
.logo {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.1rem gold);
}
.container {
     margin-top: 45%;
  margin-left: 30%;
  filter: drop-shadow(0 0 0.75rem gold);
}
img {
    border-bottom:#887023
  border-color: var(--best-color);
  filter: drop-shadow(0 0 0.75rem gold);
}
